<h1>這是 Welcome page，用來練習想嘗試的 Rails 功能</h1>
<ul>
  <p>有以下幾種練習</p>
  <li><%= link_to '投票系統', candidates_path %></li>
</ul>
<hr>
<h4>備註</h4>
<ol>
  <a href="https://github.com/Wells7778/AC-forum">參考well GitHub</a>  
  <li>做好友雙向邀請</li>
  <li>post 儲存草稿</li>
  <li>member 用devise 做出來的</li>
  <li>做一個待辦事項在wlecome page</li>
</ol>