<div class="row">
  <div class="col-md-4">
    <h1>Members#index</h1>
    accept
    ignore
    從設計 all_friend 
    已加過好友隱藏按鈕
    <ul>
      <% @members.each do |member| %>
        <li>
          <%= link_to member.name, member_path(member) %>
          <% if member != current_member %>
            <%= link_to '加好友', add_friend_member_path(member), method: :post, data: {"disable-with": "Waiting...."}, class: "btn btn-primary btn-sm" %>
          <% end %>  
        </li>
        <br>
      <% end %>
    </ul>
  </div>
</div>
